<html lang="en">
<head>
    <meta charset="utf-8">
    <title>task</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="container">
    <h2>Task List</h2>
        <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New Task</button>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>N0</th>
          <th>Task</th>
          <th>Sub Task</th>
          <th>Status Task</th>
          <th>Tanggal Buat</th>
        </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{ task_id }}</td>
          <td>{{ task }}</td>
          <td>{{ sub_task }}</td>
          <td>{{ status }}</td>
          <td>{{ tanggal_buat }}</td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ task_id }}" data-task="{{ task }}" data-status="{{ status }}" data-tanggal_buat="{{ tanggal_buat}}">Edit</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ product_id }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
 
    <!-- Modal Add task-->
      <form action="/save" method="POST">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Task</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <input type="text" name="task" class="form-control" placeholder="task" required>
               </div>
               <div class="form-group">
                   <input type="text" name="sub_task" class="form-control" placeholder="sub_task" required>
               </div>
             </div>
             <div class="form-group">
               <select id="status" name="status" class="custom-select d-block w-100" required="">
               <option></option>
               <option value="pending">Pending</option>
               <option value="done">Done</option>
               </select>
             </div>
             <div class="form-group">
               <input type="date" name="tanggal_buat" class="form-control"  placeholder="date" required="">
             </div>
             
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
     </form>
 
     <!-- Modal Update task-->
   <form action="/update" method="POST">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <select id="status" class="custom-selectd block w 100" required="">
                    <option></option>
                    <option value="pending">Pending</option>
                    <option value="done">Done</option>
                  </select>
              </div>
              <div class="form-group">
                <input type="date" name="tanggal_edit" class="form-control"  required="">
              </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="task_id" class="task_id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>
 
     <!-- Modal Delete task-->
      <form id="add-row-form" action="/delete" method="POST">
         <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Delete task</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                                                 <strong>Anda yakin mau menghapus data ini?</strong>
                   </div>
                   <div class="modal-footer">
                        <input type="hidden" name="task_id" class="form-control task_id" required="">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                    </div>
            </div>
         </div>
     </form>
 
<script src="/assets/js/jquery-3.5.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script>
    $(document).ready(function(){
            //tampilkan data ke modal untuk edit
      $('#mytable').on('click','.edit',function(){
        var task_id = $(this).data('task_id');
        var task = $(this).data('task');
        var subtask = $(this).data('product_price');
        var tanggal_buat = $(this).data('tanggal_buat');
        var tanggal_edit = $(this).data('tanggal_edit');
        var status = $(this).data('status');
        $('#EditModal').modal('show');
        $('.task_id').val(task_id);
        $('.task').val(task);
        $('.sub_task').val(sub_task);
        $('.tanggal_buat').val(tanggal_buat);
        $('.tanggal_edit').val(tanggal_edit);
        $('.status').val(status);
      });
            //tampilkan modal hapus record
            $('#mytable').on('click','.delete',function(){
        var task_id = $(this).data('task_id');
        $('#DeleteModal').modal('show');
        $('.task_id').val(task_id);
      });
 
    });
</script>
</body>
</html>